* {
  box-sizing: border-box;
}

body {
  background-image: url("homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #122833;
}

h1{
    font-size: 4rem;
    margin:0;
}

h2{
    font-size: 2rem;
}

a {
  color: #122833;
  font-size: 2rem;
}

.intro {
  padding: 32px;
  max-width: 800px;
}

footer {
  padding: 32px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  box-sizing: border-box;
}

.button {
  background-color: #e1c9e8;
  padding: 16px 24px;
  text-decoration: none;
  border-radius:16px;
}

.help{
    z-index: 1;
    border-radius:48px;
    position:fixed;
    top:32px;
    left:32px;
    width:48px;
    height:48px;
    display:flex;
    justify-content:center;
    align-items: center;
}